Please include the original sender's email address as a parsable field in `Original-From`

I like to create rules for mail handling, notably in Thunderbird, but other clients offer similar features. These rules work best off of the headers of the email (e.g. "From", "To", "X-List-Id", etc.) 

Currently Relay masks the origin email inside of the from using UTF8 encoding, e.g. 

```
From: =?utf-8?q?=22someone=40example=2Ecom_=5Bvia_Relay=5D=22?= <replies@relay.firefox.com>
```
While I understand some of the philosophy of doing that, it does make writing matching rules a bit difficult. 

Would it be possible to include a header like `Original-From` that contains the originating email address? (e.g. 
```
Original-From: someone@example.com
```
I believe this would also be inline with [RFC5703§5](https://www.rfc-editor.org/rfc/rfc5703.html#section-5). Thanks!

I'll move this to the main Relay repository, rather than the add-on one, since it's not add-on specific.

There are also similar/related issues that you might be interested in:
- https://github.com/mozilla/fx-private-relay/issues/723
- https://github.com/mozilla/fx-private-relay/issues/532

(And I'd swear there was one for basically this issue too, but I can't find it right now.)